In [1]:
#importing all the required libraries
import pandas as pd
import numpy as np
import os
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import style

np.random.seed(42)
from datetime import datetime, timedelta
%matplotlib inline

In [ ]:
customers_db = pd.read_csv("olistdata/olist_customers_dataset.csv")
order_items_db = pd.read_csv("olistdata/olist_order_items_dataset.csv")
order_payments_db = pd.read_csv("olistdata/olist_order_payments_dataset.csv")
orders_db = pd.read_csv("olistdata/olist_orders_dataset.csv")
products_db = pd.read_csv("olistdata/olist_products_dataset.csv")
sellers_db = pd.read_csv("olistdata/olist_sellers_dataset.csv")
category_db = pd.read_csv("olistdata/product_category_name_translation.csv")
geolocation_db = pd.read_csv("olistdata/olist_geolocation_dataset.csv")
product_reviews_db = pd.read_csv("olistdata/olist_order_reviews_dataset.csv")

In [ ]:
#First we will remove hash values with dummy data

In [4]:
customers_db

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [7]:
nums = np.random.choice(range(1,99442), size = customers_db['customer_id'].nunique(), replace=False)

In [8]:
customers_db['customer_id2'] = customers_db['customer_id'].map(dict(zip(customers_db['customer_id'].unique(), nums)))

In [78]:
customers_db['customer_unique_id'].nunique()

96096

In [80]:
nums6 = np.random.choice(range(1,97000), size = customers_db['customer_unique_id'].nunique(), replace=False)

In [81]:
customers_db['uniqueid_2'] = customers_db['customer_unique_id'].map(dict(zip(customers_db['customer_unique_id'].unique(), nums6)))

In [82]:
customers_db.uniqueid_2 = customers_db.uniqueid_2.astype(str).str.pad(5,fillchar='0')

In [83]:
customers_db.uniqueid_2=['C'+x for x in customers_db.uniqueid_2 ]

In [85]:
# Get the DataFrame column names as a list
clist = list(customers_db.columns)

# Rearrange list the way you like 
clist_new = clist[-1:]+clist[:-1]   # brings the last column in the first place

# Pass the new list to the DataFrame - like a key list in a dict 
customers_db = customers_db[clist_new]
customers_db

,customer_id2,uniqueid_2,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,66156,C33212,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,27568,C37191,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,17518,C03781,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,2613,C53477,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,62703,C09832,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...,...,...
99436,31321,C41138,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,63405,C41627,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,7043,C85400,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,15520,C04965,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,75568,C49974,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [88]:
customers_db.to_csv('olistpreprocesseddata/olist_customers_dataset_new.csv',index=False)

In [46]:
customers_db['customer_id'].nunique()

99441

In [10]:
boolean = customers_db['customer_id2'].duplicated().any()

---

In [14]:
products_db

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [16]:
nums2 = np.random.choice(range(1,32952), size = products_db['product_id'].nunique(), replace=False)

In [17]:
products_db['productid_2'] = products_db['product_id'].map(dict(zip(products_db['product_id'].unique(), nums2)))

In [18]:
products_db

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,productid_2
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,23996
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,26436
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0,5410
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0,3253
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0,21582
...,...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0,12196
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0,18029
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0,7866
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0,27808
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0,6519

In [25]:
products_db.productid_2 = products_db.productid_2.astype(str).str.pad(5,fillchar='0')

In [89]:
products_db.to_csv('olistpreprocesseddata/olist_products_dataset_new.csv',index=False)

In [27]:
products_db.productid_2=['P'+x for x in products_db.test ]

In [32]:
# Get the DataFrame column names as a list
plist = list(products_db.columns)

# Rearrange list the way you like 
plist_new = plist[-1:]+plist[:-1]   # brings the last column in the first place

# Pass the new list to the DataFrame - like a key list in a dict 
products_db = products_db[plist_new]
products_db

,productid_2,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,P23996,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,P26436,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,P05410,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,P03253,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,P21582,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...,...
32946,P12196,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,P18029,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,P07866,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,P27808,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,P06519,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

---

In [33]:
sellers_db

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [34]:
nums3 = np.random.choice(range(1,3096), size = sellers_db['seller_id'].nunique(), replace=False)

In [35]:
sellers_db['sellerid_2'] = sellers_db['seller_id'].map(dict(zip(sellers_db['seller_id'].unique(), nums3)))

In [36]:
sellers_db.sellerid_2 = sellers_db.sellerid_2.astype(str).str.pad(4,fillchar='0')

In [37]:
sellers_db.sellerid_2=['S'+x for x in sellers_db.sellerid_2 ]

In [38]:
# Get the DataFrame column names as a list
slist = list(sellers_db.columns)

# Rearrange list the way you like 
slist_new = slist[-1:]+slist[:-1]   # brings the last column in the first place

# Pass the new list to the DataFrame - like a key list in a dict 
sellers_db = sellers_db[slist_new]
sellers_db

,sellerid_2,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,S1347,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,S1589,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,S2607,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,S1415,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,S0311,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...,...
3090,S0368,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,S0409,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,S0556,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,S1016,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,S0548,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [90]:
sellers_db.to_csv('olistpreprocesseddata/olist_sellers_dataset_new.csv',index=False)

---

In [40]:
category_db

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

---

In [41]:
geolocation_db

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

---

In [42]:
product_reviews_db

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99995,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99996,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rÃ¡pida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99997,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99998,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,2017-12-15 00:00:00,2017-12-16 01:29:43
99999,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [49]:
product_reviews_db["review_id"].nunique()

99173

In [50]:
boolean = product_reviews_db['review_id'].duplicated().any()

In [51]:
boolean

True

In [59]:
nums4 = np.random.choice(range(1,99999), size = product_reviews_db['review_id'].nunique(), replace=False)

In [60]:
product_reviews_db['review_id2'] = product_reviews_db['review_id'].map(dict(zip(product_reviews_db['review_id'].unique(), nums4)))

In [62]:
product_reviews_db.review_id2 = product_reviews_db.review_id2.astype(str).str.pad(5,fillchar='0')

In [63]:
product_reviews_db.review_id2=['PR'+x for x in product_reviews_db.review_id2 ]

In [64]:
# Get the DataFrame column names as a list
prlist = list(product_reviews_db.columns)

# Rearrange list the way you like 
prlist_new = prlist[-1:]+prlist[:-1]   # brings the last column in the first place

# Pass the new list to the DataFrame - like a key list in a dict 
product_reviews_db = product_reviews_db[prlist_new]
product_reviews_db

,review_id2,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,PR23909,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,PR83859,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,PR20793,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,PR73209,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,PR75149,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...,...
99995,PR43275,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99996,PR54378,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rÃ¡pida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99997,PR81900,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99998,PR34174,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,2017-12-15 00:00:00,2017-12-16 01:29:43
99999,PR88229,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [91]:
product_reviews_db.to_csv('olistpreprocesseddata/olist_order_reviews_dataset_new.csv',index=False)

---

In [43]:
orders_db

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [48]:
orders_db['order_id'].nunique()

99441

In [72]:
nums5 = np.random.choice(range(1,99999), size = orders_db['order_id'].nunique(), replace=False)

In [73]:
orders_db['order_id2'] = orders_db['order_id'].map(dict(zip(orders_db['order_id'].unique(), nums5)))

In [74]:
orders_db.order_id2 = orders_db.order_id2.astype(str).str.pad(5,fillchar='0')

In [75]:
orders_db.order_id2=['ON'+x for x in orders_db.order_id2 ]

In [ ]:
orders_db

In [77]:
# Get the DataFrame column names as a list
olist = list(orders_db.columns)

# Rearrange list the way you like 
olist_new = olist[-1:]+olist[:-1]   # brings the last column in the first place

# Pass the new list to the DataFrame - like a key list in a dict 
orders_db = orders_db[olist_new]
orders_db

,order_id2,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,ON34305,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,ON12238,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,ON21442,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,ON36041,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ON16462,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...,...
99436,ON61248,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,ON21623,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,ON26513,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,ON14010,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,ON29969,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [92]:
orders_db.to_csv('olistpreprocesseddata/olist_orders_dataset_new.csv',index=False)

In [55]:
order_items_db['order_id'].nunique()

98666

In [58]:
order_payments_db['order_id'].nunique()

99440

In [ ]:
#Below some steps are minimized as they already performed in alteryx data preprocessing. Here we just put it for confirming data. IGNORE.

In [2]:
#Load All The Data
olist_orders = pd.read_csv('olistpreprocesseddata/olist_orders_dataset_new.csv')
olist_products = pd.read_csv('olistpreprocesseddata/olist_products_dataset_new.csv')
olist_items = pd.read_csv('olistpreprocesseddata/olist_order_items_dataset.csv')
olist_customers = pd.read_csv('olistpreprocesseddata/olist_customers_dataset_new.csv')
olist_payments = pd.read_csv('olistpreprocesseddata/olist_order_payments_dataset.csv')
olist_sellers = pd.read_csv('olistpreprocesseddata/olist_sellers_dataset_new.csv')
olist_geolocation = pd.read_csv('olistpreprocesseddata/olist_geolocation_dataset.csv')
olist_reviews = pd.read_csv('olistpreprocesseddata/olist_order_reviews_dataset_new.csv')
olist_product_category_name = pd.read_csv('olistpreprocesseddata/product_category_name_translation.csv')

In [3]:
all_data = olist_orders.merge(olist_items, on='order_id', how='left')
all_data = all_data.merge(olist_payments, on='order_id', how='inner')
all_data = all_data.merge(olist_reviews, on='order_id', how='inner')
all_data = all_data.merge(olist_products, on='product_id', how='inner')
all_data = all_data.merge(olist_customers, on='customer_id', how='inner')
all_data = all_data.merge(olist_sellers, on='seller_id', how='inner')
all_data = all_data.merge(olist_product_category_name,on='product_category_name',how='inner')

In [4]:
round((all_data.isnull().sum()/ len(all_data)*100),2)

order_id2                         0.00
order_id                          0.00
customer_id                       0.00
order_status                      0.00
order_purchase_timestamp          0.00
order_approved_at                 0.01
order_delivered_carrier_date      1.04
order_delivered_customer_date     2.16
order_estimated_delivery_date     0.00
order_item_id                     0.00
product_id                        0.00
seller_id                         0.00
shipping_limit_date               0.00
price                             0.00
freight_value                     0.00
payment_sequential                0.00
payment_type                      0.00
payment_installments              0.00
payment_value                     0.00
review_id2                        0.00
review_id                         0.00
review_score                      0.00
review_comment_title             87.99
review_comment_message           57.22
review_creation_date              0.00
review_answer_timestamp           0.00
productid_2                       0.00
product_category_name             0.00
product_name_lenght               0.00
product_description_lenght        0.00
product_photos_qty                0.00
product_weight_g                  0.00
product_length_cm                 0.00
product_height_cm                 0.00
product_width_cm                  0.00
customer_id2                      0.00
uniqueid_2                        0.00
customer_unique_id                0.00
customer_zip_code_prefix          0.00
customer_city                     0.00
customer_state                    0.00
sellerid_2                        0.00
seller_zip_code_prefix            0.00
seller_city                       0.00
seller_state                      0.00
product_category_name_english     0.00
dtype: float64

In [5]:
#Meruba tipe data pada kolom tanggal agar seusai tipe datanya 
date_columns = ['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date',
             'order_estimated_delivery_date', 'shipping_limit_date', 'review_creation_date', 'review_answer_timestamp'] 
for col in date_columns:
    all_data[col] = pd.to_datetime(all_data[col], format='%Y-%m-%d %H:%M:%S')

In [ ]:
print('Duplicate data: ',all_data.duplicated().sum())

In [7]:
# Handling empty input in the order_approved_at column
missing_1 = all_data ['order_approved_at'] - all_data ['order_purchase_timestamp']
print (missing_1.describe ())
print ('=' * 50)
print ('Median from time of order until approved:', missing_1.median ())

# We took the median because there were those that were immediately approved from the time he ordered, some were up to 60 days
add_1 = all_data [all_data ['order_approved_at']. isnull ()] ['order_purchase_timestamp'] + missing_1.median ()
all_data ['order_approved_at'] = all_data ['order_approved_at']. replace (np.nan, add_1)

count                    116567
mean     0 days 10:30:07.890517
std      0 days 22:14:31.829017
min             0 days 00:00:00
25%             0 days 00:12:57
50%             0 days 00:20:52
75%      0 days 14:58:55.500000
max            60 days 10:51:59
dtype: object
==================================================
Median from time of order until approved: 0 days 00:20:52

In [8]:
all_data[['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date']].head()

,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date
0,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13
1,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13
2,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13
3,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43
4,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01

In [9]:
# Handling empty input in the order_delivered_carrier_date column
missing_2 = all_data ['order_delivered_carrier_date'] - all_data ['order_approved_at']
print (missing_2.describe ())
print ('=' * 50)
print ('Median from the time apporved to submission:', missing_2.median ())

# We take the median because some are sent within 21 hours of the time he was approved, some are up to 107 days
add_2 = all_data [all_data ['order_delivered_carrier_date']. isnull ()] ['order_approved_at'] + missing_2.median ()
all_data ['order_delivered_carrier_date'] = all_data ['order_delivered_carrier_date']. replace (np.nan, add_2)

count                    115368
mean     2 days 20:23:21.823928
std      3 days 13:29:23.374800
min         -172 days +18:44:38
25%             0 days 21:15:35
50%             1 days 20:16:53
75%             3 days 15:25:20
max           107 days 01:16:38
dtype: object
==================================================
Median from the time apporved to submission: 1 days 20:16:53

In [10]:
# Handling empty input in the order_delivered_customer_date column
missing_3 = all_data ['order_delivered_customer_date'] - all_data ['order_delivered_carrier_date']
print (missing_3.describe ())
print ('=' * 50)
print ('Median from the time it was sent to the customer received:', missing_3.median ())

# We take the median because there is a delivery time in -17 days means he is outliers, there is also a delivery time of up to 205 days
add_3 = all_data [all_data ['order_delivered_customer_date']. isnull ()] ['order_delivered_carrier_date'] + missing_3.median ()
all_data ['order_delivered_customer_date'] = all_data ['order_delivered_customer_date']. replace (np.nan, add_3)

count                    114066
mean     9 days 04:55:20.323251
std      8 days 15:13:53.022396
min          -17 days +21:41:31
25%             4 days 01:35:44
50%             7 days 01:30:53
75%            11 days 22:21:44
max           205 days 04:35:00
dtype: object
==================================================
Median from the time it was sent to the customer received: 7 days 01:30:53

In [11]:
all_data

,order_id2,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,...,uniqueid_2,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,sellerid_2,seller_zip_code_prefix,seller_city,seller_state,product_category_name_english
0,ON34305,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1.0,...,C10952,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,S2121,9350,maua,SP,housewares
1,ON34305,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1.0,...,C10952,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,S2121,9350,maua,SP,housewares
2,ON34305,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1.0,...,C10952,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,S2121,9350,maua,SP,housewares
3,ON40291,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28,1.0,...,C90486,3a51803cc0d012c3b5dc8b7528cb05f7,3366,sao paulo,SP,S2121,9350,maua,SP,housewares
4,ON74313,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15,1.0,...,C18951,ef0996a1a279c26e7ecbd737be23d235,2290,sao paulo,SP,S2121,9350,maua,SP,housewares
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116576,ON07986,442a41b00a8a8bda35511fdf1eb65cc5,e42e2e8642f9c09100b6667e321c2811,invoiced,2018-07-11 22:27:32,2018-07-11 22:45:43,2018-07-13 19:02:36,2018-07-20 20:33:29,2018-07-20,1.0,...,C53792,f84487fed78baf25458828c99a2daa5d,3402,sao paulo,SP,S0059,5201,sao paulo,SP,books_imported
116577,ON72724,1dbff949801376b8795a093d31cfe205,0cbd2df3d6e9d8b1eaf5cfefc44886bc,delivered,2018-05-16 14:50:54,2018-05-16 15:18:42,2018-05-18 12:10:00,2018-05-21 17:14:08,2018-05-28,1.0,...,C90004,1de8fb735d8252498d9a2f82a68c57e0,9411,ribeirao pires,SP,S0059,5201,sao paulo,SP,books_imported
116578,ON15901,6775b950cdc4da0ce39b261032f92c84,c4d135422be0d4333f506acde8af9419,delivered,2018-06-13 12:19:26,2018-06-13 17:39:14,2018-06-15 13:09:00,2018-06-16 17:48:30,2018-06-28,1.0,...,C09253,5f684afb3d1a02f2787e80cb0eee6e02,2927,sao paulo,SP,S0059,5201,sao paulo,SP,books_imported
116579,ON44476,73d60420cd1a179b2d8887d538efe4c2,65d9213dfa004c17dc126503e106e4a3,delivered,2018-08-07 10:52:58,2018-08-07 11:05:18,2018-08-08 08:31:00,2018-08-22 17:02:23,2018-09-04,1.0,...,C35727,78275e95a4296105923051e0ad4577b3,65700,bacabal,MA,S1837,22745,rio de janeiro,RJ,books_imported
116580,ON08855,f5cf5716413185387030a378bdd46ebe,ff95df9a387c8d032a2ca6887cf77236,processing,2017-02-19 22:31:47,2017-02-19 22:45:13,2017-02-21 19:02:06,2017-02-28 20:32:59,2017-03-21,1.0,...,C47242,5166dddbe02c6e2279cd1305a88b0c99,35519,nova serrana,MG,S1265,1309,sao paulo,SP,books_imported

In [12]:
# cleaning up name columns, and engineering new/essential columns
all_data['customer_city'] = all_data['customer_city'].str.title()
all_data['seller_city'] = all_data['seller_city'].str.title()
all_data['product_category_name'] = all_data['product_category_name'].str.title()
all_data['payment_type'] = all_data['payment_type'].str.replace('_', ' ').str.title()
all_data['product_category_name_english'] = all_data['product_category_name_english'].str.replace('_', ' ')
all_data['review_response_time'] = (all_data['review_answer_timestamp'] - all_data['review_creation_date']).dt.days
#Olist['delivery_against_estimated'] = (Olist['order_estimated_delivery_date'] - Olist['order_delivered_customer_date']).dt.days
#Olist['product_size_cm'] = Olist['product_length_cm'] * Olist['product_height_cm'] * Olist['product_width_cm']
all_data['order_purchase_year'] = all_data.order_purchase_timestamp.apply(lambda x: x.year)
all_data['order_purchase_month'] = all_data.order_purchase_timestamp.apply(lambda x: x.month)
all_data['order_purchase_dayofweek'] = all_data.order_purchase_timestamp.apply(lambda x: x.dayofweek)
all_data['order_purchase_hour'] = all_data.order_purchase_timestamp.apply(lambda x: x.hour)
all_data['order_purchase_day'] = all_data['order_purchase_dayofweek'].map({0:'Mon',1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'})
all_data['order_purchase_mon'] = all_data.order_purchase_timestamp.apply(lambda x: x.month).map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})

In [13]:
all_data

,order_id2,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,...,seller_city,seller_state,product_category_name_english,review_response_time,order_purchase_year,order_purchase_month,order_purchase_dayofweek,order_purchase_hour,order_purchase_day,order_purchase_mon
0,ON34305,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1.0,...,Maua,SP,housewares,1.0,2017,10,0,10,Mon,Oct
1,ON34305,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1.0,...,Maua,SP,housewares,1.0,2017,10,0,10,Mon,Oct
2,ON34305,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1.0,...,Maua,SP,housewares,1.0,2017,10,0,10,Mon,Oct
3,ON40291,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28,1.0,...,Maua,SP,housewares,1.0,2017,8,1,18,Tue,Aug
4,ON74313,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15,1.0,...,Maua,SP,housewares,0.0,2017,8,2,18,Wed,Aug
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116576,ON07986,442a41b00a8a8bda35511fdf1eb65cc5,e42e2e8642f9c09100b6667e321c2811,invoiced,2018-07-11 22:27:32,2018-07-11 22:45:43,2018-07-13 19:02:36,2018-07-20 20:33:29,2018-07-20,1.0,...,Sao Paulo,SP,books imported,2.0,2018,7,2,22,Wed,Jul
116577,ON72724,1dbff949801376b8795a093d31cfe205,0cbd2df3d6e9d8b1eaf5cfefc44886bc,delivered,2018-05-16 14:50:54,2018-05-16 15:18:42,2018-05-18 12:10:00,2018-05-21 17:14:08,2018-05-28,1.0,...,Sao Paulo,SP,books imported,0.0,2018,5,2,14,Wed,May
116578,ON15901,6775b950cdc4da0ce39b261032f92c84,c4d135422be0d4333f506acde8af9419,delivered,2018-06-13 12:19:26,2018-06-13 17:39:14,2018-06-15 13:09:00,2018-06-16 17:48:30,2018-06-28,1.0,...,Sao Paulo,SP,books imported,0.0,2018,6,2,12,Wed,Jun
116579,ON44476,73d60420cd1a179b2d8887d538efe4c2,65d9213dfa004c17dc126503e106e4a3,delivered,2018-08-07 10:52:58,2018-08-07 11:05:18,2018-08-08 08:31:00,2018-08-22 17:02:23,2018-09-04,1.0,...,Rio De Janeiro,RJ,books imported,2.0,2018,8,1,10,Tue,Aug
116580,ON08855,f5cf5716413185387030a378bdd46ebe,ff95df9a387c8d032a2ca6887cf77236,processing,2017-02-19 22:31:47,2017-02-19 22:45:13,2017-02-21 19:02:06,2017-02-28 20:32:59,2017-03-21,1.0,...,Sao Paulo,SP,books imported,0.0,2017,2,6,22,Sun,Feb

In [14]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116581 entries, 0 to 116580
Data columns (total 53 columns):
order_id2                        116581 non-null object
order_id                         116581 non-null object
customer_id                      116581 non-null object
order_status                     116581 non-null object
order_purchase_timestamp         116581 non-null datetime64[ns]
order_approved_at                116581 non-null datetime64[ns]
order_delivered_carrier_date     116581 non-null datetime64[ns]
order_delivered_customer_date    116581 non-null datetime64[ns]
order_estimated_delivery_date    116581 non-null datetime64[ns]
order_item_id                    116581 non-null float64
product_id                       116581 non-null object
seller_id                        116581 non-null object
shipping_limit_date              116581 non-null datetime64[ns]
price                            116581 non-null float64
freight_value                    116581 non-null float64
payment_sequential               116581 non-null int64
payment_type                     116581 non-null object
payment_installments             116581 non-null int64
payment_value                    116581 non-null float64
review_id2                       116581 non-null object
review_id                        116581 non-null object
review_score                     116581 non-null float64
review_comment_title             13996 non-null object
review_comment_message           49878 non-null object
review_creation_date             116578 non-null datetime64[ns]
review_answer_timestamp          116578 non-null datetime64[ns]
productid_2                      116581 non-null object
product_category_name            116581 non-null object
product_name_lenght              116581 non-null float64
product_description_lenght       116581 non-null float64
product_photos_qty               116581 non-null float64
product_weight_g                 116580 non-null float64
product_length_cm                116580 non-null float64
product_height_cm                116580 non-null float64
product_width_cm                 116580 non-null float64
customer_id2                     116581 non-null int64
uniqueid_2                       116581 non-null object
customer_unique_id               116581 non-null object
customer_zip_code_prefix         116581 non-null int64
customer_city                    116581 non-null object
customer_state                   116581 non-null object
sellerid_2                       116581 non-null object
seller_zip_code_prefix           116581 non-null int64
seller_city                      116581 non-null object
seller_state                     116581 non-null object
product_category_name_english    116581 non-null object
review_response_time             116578 non-null float64
order_purchase_year              116581 non-null int64
order_purchase_month             116581 non-null int64
order_purchase_dayofweek         116581 non-null int64
order_purchase_hour              116581 non-null int64
order_purchase_day               116581 non-null object
order_purchase_mon               116581 non-null object
dtypes: datetime64[ns](8), float64(13), int64(9), object(23)
memory usage: 53.0+ MB

In [83]:
all_data.to_csv("olistpreprocesseddata/OLIST_ALLDATA.csv")

In [4]:
Olist = pd.read_csv("olistpreprocesseddata/olisttableauprepop.csv")

In [6]:
Olist = Olist.drop(columns=["order_approved_at", "order_delivered_customer_date", "order_delivered_carrier_date", "product_weight_g","product_name_lenght", 
                            "product_description_lenght", "product_photos_qty","product_length_cm", "product_height_cm", "product_width_cm",
                            "product_length_cm","review_comment_title", "review_comment_message"])

In [7]:
Olist = Olist.rename(columns={'product_category_name_english':'product_category_name', 'product_category_name':'product_category_name_old'})

In [8]:
Olist = Olist.drop(columns=['product_category_name_old'])

In [11]:
dfObj = pd.DataFrame(Olist['order_purchase_timestamp'])

In [31]:
import datetime
def datechange(dd):
    kk = datetime.datetime.strptime(dd, "%m/%d/%Y %I:%M:%S %p")
    return kk

In [14]:
Olist['order_purchase_timestamp'] = Olist['order_purchase_timestamp'].apply(datechange)

In [15]:
Olist['shipping_limit_date'] = Olist['shipping_limit_date'].apply(datechange)
Olist['review_creation_date'] = Olist['review_creation_date'].apply(datechange)
Olist['review_answer_timestamp'] = Olist['review_answer_timestamp'].apply(datechange)
Olist['order_estimated_delivery_date'] = Olist['order_estimated_delivery_date'].apply(datechange)

In [156]:
# cleaning up name columns, and engineering new/essential columns
Olist['customer_city'] = Olist['customer_city'].str.title()
Olist['seller_city'] = Olist['seller_city'].str.title()
Olist['product_category_name'] = Olist['product_category_name'].str.title()
Olist['payment_type'] = Olist['payment_type'].str.replace('_', ' ').str.title()
Olist['product_category_name'] = Olist['product_category_name'].str.replace('_', ' ')
Olist['review_response_time'] = (Olist['review_answer_timestamp'] - Olist['review_creation_date']).dt.days
#Olist['delivery_against_estimated'] = (Olist['order_estimated_delivery_date'] - Olist['order_delivered_customer_date']).dt.days
#Olist['product_size_cm'] = Olist['product_length_cm'] * Olist['product_height_cm'] * Olist['product_width_cm']
Olist['order_purchase_year'] = Olist.order_purchase_timestamp.apply(lambda x: x.year)
Olist['order_purchase_month'] = Olist.order_purchase_timestamp.apply(lambda x: x.month)
Olist['order_purchase_dayofweek'] = Olist.order_purchase_timestamp.apply(lambda x: x.dayofweek)
Olist['order_purchase_hour'] = Olist.order_purchase_timestamp.apply(lambda x: x.hour)
Olist['order_purchase_day'] = Olist['order_purchase_dayofweek'].map({0:'Mon',1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'})
Olist['order_purchase_mon'] = Olist.order_purchase_timestamp.apply(lambda x: x.month).map({1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'})